# Python
venv/
__pycache__/
*.pyc

# Vector DB
chroma_db/

# Data files
data/

# Environment variables
.env

# React / Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db